---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="bg-white">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="mt-8 mx-12 ">
			<nav class="flex">
				<div class="w-48">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 691.73 141.84"><defs><style>.cls-1{fill:#00ea6a;}</style></defs><g id="Icono"><circle class="cls-1" cx="63.85" cy="64.97" r="13.75"/>
						<path class="cls-1" d="M136.11,137.24a11.91,11.91,0,0,1-16.84,0L99.78,117.75l-4.17-4.17-3.46-3.47a11.9,11.9,0,0,1-.54-16.26c.37-.36.74-.73,1.1-1.11a40.13,40.13,0,0,0,7.9-11.9h0c.06-.19.13-.37.21-.56s.17-.39.26-.58h0a40.36,40.36,0,0,0,0-29.44h0l-.48-1.15v0a40.13,40.13,0,0,0-7.89-11.88c-.36-.38-.73-.75-1.1-1.11A40.36,40.36,0,0,0,80.32,28.4c-.75-.34-1.5-.66-2.27-.95a39.93,39.93,0,0,0-12.75-2.6c-.53,0-1,0-1.58,0s-.92,0-1.37,0a39.86,39.86,0,0,0-12.22,2.34c-1.14.41-2.26.87-3.35,1.38a40,40,0,0,0-10,6.62C35.82,36.06,34.9,37,34,38a40,40,0,0,0-8.14,13.6,39.65,39.65,0,0,0-2.24,11.27c0,.7-.06,1.42-.06,2.14s0,1.43.06,2.14a39.79,39.79,0,0,0,2.24,11.27A38.5,38.5,0,0,0,27.5,82.3,40,40,0,0,0,34,92a0,0,0,0,1,0,0,36.71,36.71,0,0,0,2.8,2.78,40,40,0,0,0,9.95,6.61,36.2,36.2,0,0,0,3.4,1.4h0a40,40,0,0,0,12.19,2.32c.45,0,.91,0,1.37,0s1,0,1.58,0A11.93,11.93,0,0,1,75.76,116.9a11.9,11.9,0,0,1-11.91,11.91,63.84,63.84,0,1,1,52.78-27.91l19.48,19.49A11.9,11.9,0,0,1,136.11,137.24Z"/>
						<path d="M176.94,43.61A34.23,34.23,0,0,1,189.43,29.5a32.64,32.64,0,0,1,17.64-4.94A30.25,30.25,0,0,1,221.68,28a24.88,24.88,0,0,1,9.67,8.89V25.69h24.13v78.75H231.35V93.29a26,26,0,0,1-9.81,8.89,30.31,30.31,0,0,1-14.61,3.39,32,32,0,0,1-17.5-5,34.63,34.63,0,0,1-12.49-14.25,47.52,47.52,0,0,1-4.58-21.39A47.05,47.05,0,0,1,176.94,43.61Zm49.4,7.2a17,17,0,0,0-24.42-.07q-5,5.15-5,14.18t5,14.33a16.81,16.81,0,0,0,24.42.07q5-5.22,5-14.26T226.34,50.81Z"/>
						<path d="M307.7,28.58a27.35,27.35,0,0,1,14.12-3.74V50.39h-6.64q-9,0-13.55,3.88t-4.51,13.62v36.55H273V25.69h24.14V38.81A31.87,31.87,0,0,1,307.7,28.58Z"/>
						<path d="M403.46,33.8q8.27,9,8.26,24.63v46h-24V61.68q0-7.91-4.1-12.28t-11-4.38c-4.62,0-8.28,1.46-11,4.38s-4.1,7-4.1,12.28v42.76H333.39V25.69h24.13V36.13a25.57,25.57,0,0,1,9.88-8.26,31.46,31.46,0,0,1,14-3Q395.21,24.84,403.46,33.8Z"/>
						<path d="M502.33,70.85H447.71q.56,7.34,4.73,11.22A14.41,14.41,0,0,0,462.67,86q9,0,12.56-7.62h25.69a35.17,35.17,0,0,1-7.13,14A35.65,35.65,0,0,1,480.88,102a41.4,41.4,0,0,1-17.36,3.53,42.17,42.17,0,0,1-20.61-4.94A35.1,35.1,0,0,1,428.8,86.52q-5.08-9.18-5.08-21.46t5-21.45a34.69,34.69,0,0,1,14-14.11,42.58,42.58,0,0,1,20.75-4.94,42.1,42.1,0,0,1,20.32,4.8,34.43,34.43,0,0,1,13.9,13.69,41.52,41.52,0,0,1,5,20.74A62,62,0,0,1,502.33,70.85ZM478.05,57.44a12.42,12.42,0,0,0-4.23-9.88,15.61,15.61,0,0,0-10.58-3.67A15.32,15.32,0,0,0,453,47.42a15.72,15.72,0,0,0-5.15,10Z"/>
						<path d="M549.33,28a30.38,30.38,0,0,1,14.53-3.39,32.65,32.65,0,0,1,17.65,4.94A34.23,34.23,0,0,1,594,43.61a47.18,47.18,0,0,1,4.59,21.31A47.65,47.65,0,0,1,594,86.31a34.63,34.63,0,0,1-12.49,14.25,32.28,32.28,0,0,1-17.65,5,30.4,30.4,0,0,1-14.53-3.32,25.62,25.62,0,0,1-9.74-8.82v11H515.45V0h24.14V36.84A24.75,24.75,0,0,1,549.33,28ZM569,50.74a16.57,16.57,0,0,0-12.35-5.15,16.28,16.28,0,0,0-12.21,5.22q-5,5.22-5,14.25t5,14.26A16.89,16.89,0,0,0,569,79.25Q574,74,574,64.92T569,50.74Z"/>
						<path d="M691.73,25.69,642.34,141.84h-26l18.06-40.08-32-76.07h27l18.21,49.25,18.06-49.25Z"/></g></svg>
				</div>
				<div class="ml-12">
					<ul class="flex space-x-4 font-bold">
						<li>
							<a href=""><span class="align-middle">Eventos</span></a>
						</li>
						<li>
							<a href=""><span class="align-middle">Match</span></a>
						</li>
					</ul>
				</div>
				<div class="font-bold container mx-auto">
					<div class="flex justify-end">
						<button class="bg-green-500 hover:bg-green-600 text-black font-bold py-2 px-4 rounded-full">
							<span class="mx-2">Iniciar Sesion</span>
						</button>
						
					</div>
				</div>
			</nav>
		</div>
		<slot />
	</body>
</html>
