---
import Layout from "../layouts/LayoutInit.astro"



---

<Layout title="Favoritos">
    <div class="flex">
        <div>
            
        </div>
        <div>

        </div>
    </div>    
</Layout>