---
/*interface Props {
	url: String;
}

const { url } = Astro.props;*/
---

<div class="min-w-10 max-w-full h-auto rounded-2xl overflow-hidden transition-transform transform hover:scale-105">
    <div class="">
        <img class="max-w-full object-cover filter brightness-50" src="/img/event1.jpg" alt="Sunset in the mountains">
        <div class="absolute bottom-0 left-0 px-6 py-4 text-white">
            <div class=" text-xl mb-2">
                <div class="flex space-x-1">
                    <img class="w-3 imageColor" src="/img/svg/fire-flame-curved-solid.svg" alt="">
                    <img class="w-3 imageColor" src="/img/svg/fire-flame-curved-solid.svg" alt="">
                    <img class="w-3 imageColor" src="/img/svg/fire-flame-curved-solid.svg" alt="">
                    <img class="w-3 imageColor" src="/img/svg/fire-flame-curved-solid.svg" alt="">
                    <img class="w-3 imageColor" src="/img/svg/fire-flame-curved-solid.svg" alt="">
                </div>
                <div class="flex items-center space-x-1">
                    <h1 class="font-bold">DJ. Galarsex <p class="inline-block text-black bg-teal-400 px-2 rounded-full text-sm font-semibold">Concierto</p></h1>
                     <hr>
                </div>
                <div class="grid">
                    <p class="text-xs pb-1">Santo Domingo</p> <hr>
                    <p class="text-xs pt-1">02/Febrero/2024</p>
                </div>
            </div>
        </div>
        <div class="absolute top-0 right-0 py-2 px-1 text-white">
            <p class="inline-block bg-white rounded-full px-1 py-0 text-sm font-semibold text-black mr-2 mb-2"><span class="mx-2">5 Km</span> </p>
            <p class="inline-block bg-green-500 rounded-full px-1 py-0 text-sm font-semibold text-white mr-2 mb-2"><span class="mx-2">Popular</span> </p>
        </div>
    </div>
</div>

<style>
    .imageColor{
        filter: invert(56%) sepia(74%) saturate(1795%) hue-rotate(104deg) brightness(102%) contrast(95%);
    }
</style>