---
console.log("Footer Run")
---

<footer>
    <div class="container mx-auto max-w-screen-xl">
        <div class="block mt-20">
            <ul class="text-gray-400">
                <li class="pt-1">
                    <a href="/">Soporte</a>
                </li>
                <li class="pt-1">
                    <a href="/">Terminos y condiciones</a>
                </li>
                <li class="pt-1">
                    <a href="/">Politica de Privacidad</a>
                </li>
                <li class="pt-5">
                    <img class="h-5 w-auto" src="/img/svg/Logo txt.svg" alt="Logo">
                </li>
                <li class="pt-1 pb-10 text-black">
                    <p>© 2024 Arneby - Todos los derechos reservados</p>
                </li>
            </ul>
        </div>
    </div>
</footer>