---
console.log("JavaScript")
---

<header class="mt-8">
    <div class="container mx-auto max-w-screen-xl">
        <div class="block">
            <nav class="flex">
                <div >
                    <a href="/" class="flex w-48 items-center">
                        <img src="/img/svg/Logo txt.svg" alt="">
                    </a>
                </div>
                <div class="flex ml-12 items-center">
                    <ul class="flex space-x-4 font-bold items-center">
                        <li>
                            <a href=""><span class="">Eventos</span></a>
                        </li>
                        <li>
                            <a href=""><span class="">Match</span></a>
                        </li>
                    </ul>
                </div>
                <div class="font-bold container mx-auto">
                    <div class="flex justify-end">
                        <ul class="flex items-stretch space-x-4">
                            <li>
                                <a href="/publish" class="flex bg-green-500 hover:bg-green-600 text-black font-bold py-2 px-4 rounded-full">
                                    <img src="/img/svg/plus.svg" alt="">
                                    <span class="mx-2"> Publicar</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class=" text-black font-bold py-2 px-4 flex hover:bg-slate-400 rounded-full">
                                    <img src="/img/svg/heart.svg" alt="">
                                    <span class="mx-2"> Favoritos</span>
                                </a>
                            </li>
                            <a class="h-10 overflow-hidden rounded-full hover:bg-gray-500">
                                <img class="h-full w-auto object-cover aspect-square" src="/img/perfil.jpg" alt="perfil">
                            </a>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        
    </div>
</header>