---
console.log("JavaScript")
---

<header class="mt-8">
    <div class="container mx-auto max-w-screen-lg">
        <nav class="flex">
            <div class="flex items-center w-48">
                <a href="/" class="flex w-48 items-center">
                    <img src="/img/svg/Logo txt.svg" alt="">
                </a>
            </div>
            <div class="flex items-center ml-12">
                <ul class="flex items-center space-x-4 font-bold">
                    <li>
                        <a href=""><span>Eventos</span></a>
                    </li>
                    <li>
                        <a href=""><span>Match</span></a>
                    </li>
                </ul>
            </div>
            <div class="font-bold container mx-auto items-center">
                <div class="flex justify-end">
                    <a href="/login?" class="bg-green-500 hover:bg-green-600 text-black font-bold py-2 px-4 rounded-full">
                        <span class="mx-2">Iniciar Sesion</span>
                    </a>
                    
                </div>
            </div>
        </nav>
    </div>
</header>